#body{
  height: auto;
}
.menu-wrapper a{
  margin-bottom: 5px;
  padding: 5px;
  width: 500px;
  display: block;
  color: black;
  text-decoration: none;
  background-color: white;
  text-align: center;
  border: 1px solid grey;
}
.menu-wrapper a:hover{
  background-color: lightgrey;
}
input{
  margin-bottom: 5px;
  width: 100%;
}

div.seperator{
  display: block;
  margin: 10px;
  height: 1px;
  background-color: black;
}

ul.downlist{
  list-style: none;
  padding: 0;
}

ul.downlist li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul.downlist label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  background-color: lightgrey;
}

ul.downlist input {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}
